<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>books</key>
	<array>
		<dict>
			<key>name</key>
			<string>Physics</string>
			<key>subject</key>
			<string>Physics</string>
			<key>image</key>
			<string>logo</string>
			<key>grade</key>
			<integer>5</integer>
			<key>author</key>
			<string>John</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Physics</string>
			<key>grade</key>
			<integer>5</integer>
			<key>subject</key>
			<string>Physics</string>
			<key>image</key>
			<string>logo</string>
			<key>author</key>
			<string>John</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Physics</string>
			<key>image</key>
			<string>logo</string>
			<key>subject</key>
			<string>Physics</string>
			<key>grade</key>
			<integer>5</integer>
			<key>author</key>
			<string>John</string>
		</dict>
		<dict>
			<key>name</key>
			<string>English</string>
			<key>image</key>
			<string>logo</string>
			<key>subject</key>
			<string>English</string>
			<key>grade</key>
			<integer>3</integer>
			<key>author</key>
			<string>John</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Physics</string>
			<key>image</key>
			<string>logo</string>
			<key>subject</key>
			<string>art</string>
			<key>grade</key>
			<integer>3</integer>
			<key>author</key>
			<string>John</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Physics</string>
			<key>image</key>
			<string>logo</string>
			<key>subject</key>
			<string>Physics</string>
			<key>grade</key>
			<integer>5</integer>
			<key>author</key>
			<string>John</string>
		</dict>
	</array>
</dict>
</plist>
